* {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  padding: 0px;
  line-height: 26.25px;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  * {
    font-size: 9px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  * {
    font-size: 13px;
  }
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  .wrapper {
    max-width: 300px;
    margin: 0 auto 0 auto;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  .wrapper {
    max-width: 600px;
    margin: 0 auto 0 auto;
  }
}

.rectangle {
  display: inline-block;
  align-content: center;
  height: 700px;
  width: 100vw;
  background-color: #eeeff1;
}

.top_line {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
}

ul.top_line > li {
  display: inline-block;
  color: #000;
  letter-spacing: 1.6px;
}

ul.top_line > li.topic {
  font-weight: 500;
  color: #34547A;
}

.design_and_layout {
  display: inline-block;
  margin-top: 151px;
  margin-bottom: 0px;
  width: 541px;
  height: 45px;
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  .design_and_layout {
    font-size: 20px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  .design_and_layout {
    font-size: 34px;
  }
}

.secondary_text {
  display: block;
  height: 67px;
  margin-top: 60px;
  margin-bottom: 0px;
  color: #727272;
}

.button_style {
  display: block;
  margin-top: 65px;
  margin-bottom: 141px;
  width: 225px;
  height: 65px;
  background-color: #34547A;
  color: #fff;
  text-align: center;
  letter-spacing: 1.6px;
  text-decoration: none;
}

.about_me {
  display: block;
  text-align: center;
  height: 30px;
  margin-left: 12%;
  margin-top: 112px;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 500;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  .about_me {
    font-size: 16px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  .about_me {
    font-size: 24px;
  }
}

h2.about_me + p {
  margin-left: 10%;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

.middle_line {
  display: inline-block;
  width: 100%;
  height: 250px;
  background-color: #34547A;
}

.middle_list {
  width: 100%;
  margin: 100px 0 100px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img {
  height: 50px;
  width: 50px;
  float: left;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  img {
    height: 20px;
    width: 20px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  img {
    height: 35px;
    width: 35px;
  }
}

ul.middle_list > li {
  display: flex;
  color: #fff;
  align-items: center;
  gap: 3%;
}

.h-14__list {
  display: flex;
  flex-direction: column;
}

ul.middle_list > li > div > h3 {
  margin: 0;
  line-height: normal;
  font-size: 21px;
  font-weight: 500;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  ul.middle_list > li > div > h3 {
    font-size: 10px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  ul.middle_list > li > div > h3 {
    font-size: 16px;
  }
}

ul.middle_list > li > div > span {
  margin: 0;
}

.how_do_i_work {
  margin-top: 100px;
}

iframe {
  width: 1120px;
  height: 600px;
  margin: 0 0 100px 10%;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  iframe {
    width: 260px;
    height: 160px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  iframe {
    width: 700px;
    height: 450px;
  }
}

.bottom_line {
  display: inline-block;
  width: 100%;
  height: 151px;
  background-color: #34547A;
}

div.bottom_line > div > h3 {
  display: block;
  width: 130px;
  height: 19px;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  margin: 50px 0 20px 0;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  div.bottom_line > div > h3 {
    font-size: 10px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  div.bottom_line > div > h3 {
    font-size: 16px;
  }
}

div.bottom_line > div > p {
  display: block;
  width: 193px;
  height: 12px;
  color: #fff;
  font-size: 13px;
  margin: 0;
}
@media screen and (min-width: 360px) and (max-width: 799px) {
  div.bottom_line > div > p {
    font-size: 8px;
  }
}
@media screen and (min-width: 800px) and (max-width: 1280px) {
  div.bottom_line > div > p {
    font-size: 11px;
  }
}

/*# sourceMappingURL=styles.css.map */
